BODY
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #efefef;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


.entrada
{
    BORDER-RIGHT: #005a56 1px solid;
    BORDER-TOP: #005a56 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #005a56 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #005a56 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ffffff;
}
.botao
{
    BORDER-RIGHT: #ddccaa 1px solid;
    BORDER-TOP: #ddccaa 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #ddccaa 1px solid;
    WIDTH: 100px;
    COLOR: #000000;
    BORDER-BOTTOM: #ddccbb 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
}
.botaoMaior
{
    BORDER-RIGHT: #ddccaa 1px solid;
    BORDER-TOP: #ddccaa 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #ddccaa 1px solid;
    WIDTH: 130px;
    COLOR: #000000;
    BORDER-BOTTOM: #ddccbb 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
}
