*{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 150%;
	font-family: Arial, sans-serif;
}
article{
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #e1e1e1;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
	article p{
	font-size: 150%;
	font-family: Arial, sans-serif;
	font-weight: bold;
	}

form{
	font-family: Arial, sans-serif;
}
input{
	border-radius:3px;
	border: 1px solid #e1e1e1;
}