

Options -Indexes
RewriteEngine on
RewriteRule ^(.*)\.pdf|zip|xls|xlsx|doc|docx|rar$ filtro.php

RewriteCond $1 !^(index\.php|images|js|border-radius\.htc|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA] 
